.container {
    height: 90vh;
    display: grid;
    place-items: center;
}

.form {
    width: min(375px, 90vw);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.password_error {
    width: 100%;
    color: red;
    margin-top: -10px;
}

.button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    height: 40px;
    background-color: rgb(93, 93, 248);
    color: white;
    font-size: medium;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: rgb(23, 23, 189);
}

.button:disabled {
    cursor: not-allowed;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login_link {
    align-self: flex-end;
}