.container {
    height: 90vh;
    display: grid;
    place-items: center;
}

.form {
    width: min(375px, 90vw);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.password_error {
    width: 100%;
    color: red;
    margin-top: -10px;
}

#loginBttn,
#registerBttn {
    margin-top: 20px;
    color: blue;
}

#loginBttn:hover,
#registerBttn:hover {
    background-color: rgb(23, 23, 189);
    color: white;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login_link {
    align-self: flex-end;
}