.oneRow {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: center;
}

#cancelBttn,
#addBttn,
#redBttn {
    background-color: rgb(170, 170, 170);
    color: black;
    border: none;
    width: 80px;
}

#addBttn,
#redBttn {
    background-color: blue;
    color: white;
}

#redBttn {
    background: red;
}

#cancelBttn:hover {
    background-color: gray;
}

#addBttn:hover {
    background-color: rgb(0, 0, 167);
}

#redBttn:hover {
    background: rgb(202, 0, 0);
}