.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dialogProduct {
    border: none;
    border-radius: .5em;
    background: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    max-height: 70vh;
    overflow-y: auto;
    z-index: 2;
    text-align: center;
}

.oneRow {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: center;
}

#cancelBttn,
#addBttn,
#redBttn {
    background-color: rgb(170, 170, 170);
    color: black;
    border: none;
    width: 80px;
}

#addBttn,
#redBttn {
    background-color: blue;
    color: white;
}

#redBttn {
    background: red;
}

#cancelBttn:hover {
    background-color: gray;
}

#addBttn:hover {
    background-color: rgb(0, 0, 167);
}

#redBttn:hover {
    background: rgb(202, 0, 0);
}

@media screen and (max-width: 770px) {
    .dialogProduct {
        width: 90%;
    }
}