.oneRow {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.P {
    margin-left: 2px;
}

.catBox {
    background-color: white;
    display: flex;
    border: 1px solid gray;
    border-radius: .5em;
    padding: 10px;
}

.delete {
    cursor: pointer;
}

#addBttn,
#disabled {
    width: 83.5px;
    white-space: nowrap;
    align-self: flex-end;
}

#addBttn {
    background-color: blue;
    color: white;
}

#addBttn:hover {
    color: white;
    background-color: rgb(0, 0, 167);
}

#cancelBttn {
    color: black;
    border: none;
    background-color: rgb(180, 179, 179);
    align-self: flex-end;
}

#cancelBttn:hover {
    background-color: gray;
}