td,
.table {
    border: 1px solid black;
    border-collapse: collapse;
}

.table {
    align-self: center;
    width: 100%;
}

.header {
    align-self: center;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: large;
}

.container {
    align-self: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchSection {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.table,
td:has(strong) {
    border: none;
}

td:has(strong) {
    padding: 0 0 10px;
    align-self: flex-start;
    font-size: large;
}

td {
    padding: 3px 3px;
}

td:has(button) {
    width: 150px;
}

.entry {
    text-align: center;
}

.bttnsGroup {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    padding: 10px 0;
}

#edit,
#delete {
    display: grid;
    place-content: center;
    border-color: gray;
    width: 30px;

}

#edit:hover,
#delete:hover {
    background: rgb(230, 230, 230);
}

#redBttn,
#whiteBttn {
    background: red;
    color: white;
}

#disabled,
#redBttn,
#whiteBttn {
    margin: 7px 0;
    width: 100%;
}

#redBttn:hover {
    background: rgb(173, 0, 0);
}

#whiteBttn {
    background: white;
    color: blue;
    border: 1px solid blue;
    padding: 7px 0;
}

#whiteBttn:hover {
    background: rgb(214, 206, 206);
}

@media screen and (max-width: 700px) {
    #productsTable {
        width: 110%;
        margin-left: -4vw;
    }

    .longData {
        overflow-wrap: break-word;
        max-width: 150px;
    }

    .container {
        margin-left: -35px;
        width: 100%;
    }

    .header {
        margin-left: -35px;
    }

    .productsHeader {
        margin-bottom: -50px;
        margin-left: -40px;
    }

    .searchSection {
        flex-direction: column;
        margin-right: -20px;
    }

    #redBttn,
    #whiteBttn {
        padding: 10px 30px;
        font-size: small;
    }

    td:not(:has(strong)) {
        padding: 3px 3px;
        text-align: center;
    }

    #pages {
        margin-left: -34px;
    }
}