.address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.city {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}