.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
}

.spinner {
    width: var(--size);
    height: var(--size);
    border: solid aqua;
    border-left-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}