.sidePanel {
    display: flex;
    flex-direction: column;
    width: min(230px, 50vw);
    gap: 2px;
    padding-left: 10px;
}

.pcPanel {
    position: sticky;
    top: 64px;
}

.menuIcon {
    display: none;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0 9px;
}

.userName {
    text-align: center;
    margin: 5px 0;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 170px);
}

.setting,
.selectedSetting,
.logout {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: larger;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    color: black;
    text-decoration: none;
    background: rgba(231, 226, 226, 0.432);
    border-radius: 10px;
    transition: all ease 0.2s;
}

.logout {
    align-items: flex-end;
}

.selectedSetting {
    background-color: aqua;
}

.setting:hover {
    background-color: aqua;
}

.logout:hover {
    background: rgb(221, 221, 221);
    color: red;
}

.setting h4,
.selectedSetting h4,
.logout h4 {
    margin-left: 20px;
}

@media screen and (max-width:700px) {

    .main {
        height: 50px;
    }

    .menuIcon {
        display: flex;
        min-height: 53px;
        cursor: pointer;
        position: sticky;
        top: 64px;
    }

    .menuIcon :first-child {
        margin: 15px 0 0 10px;
    }

    .main:first-child {
        position: sticky;
        top: 64px;
        z-index: 1;
    }

    .showPanel {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .pcPanel {
        display: none;
    }

    .sidePanel {
        display: flex;
        animation: slide .5s ease-in-out;
        position: fixed;
        min-height: calc(100vh - 64px);
        background: white;
        width: min(230px, 50vw);
        top: 64px;
        left: 0;
        padding-right: 10px;
    }

    .closePanel {
        position: fixed;
        inset: 0;
        animation: close .5s ease-in-out forwards;
    }

    @keyframes slide {
        from {
            transform: translateX(min(-230px, -50vw));
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes close {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(min(-230px, -50vw));
        }
    }
}