.button,
.disabled {
    background: white;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: medium;
    height: 40px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.9;
}