.manage-admins-users-main {
    display: flex;
    justify-content: center;
}

.manage-admins-users-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-bottom: 2em;
}

.table-title {
    margin-left: 57px;
}

.manage-admins-users-main input {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 11px;
    font-size: medium;
    height: 40px;
}

.manage-admins-users-main input:hover {
    border-color: black;
}

.manage-admins-users-main input:focus {
    border: 2px solid rgba(3, 3, 250, 0.829);
    padding: 10px;
}

#users-admins-hr {
    width: 90%;
    align-self: center;
}

@media screen and (max-width:700px) {
    .manage-admins-users-main .table-header strong {
        margin-top: -40px;
    }

    .table-title {
        margin-left: 0;
    }

    #users-admins-hr {
        margin-left: -35px;
    }
}