.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: .5em;
    padding: 10px;
    background: skyblue;
}

.number_cvv,
.name_date {
    display: flex;
    gap: 10px;
    width: 100%;
}

.number_cvv label,
.name_date label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.number,
.name {
    flex: 1;
}

.cvv,
.date {
    width: 25%;
}

@media screen and (max-width:768px) {
    .form {
        width: 80vw;
    }
}