.main {
    display: flex;
    justify-content: center;
}

.header {
    margin: 20px 0;
}

.no_orders {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 16px;
}

.orders {
    margin: 2em 2em 0 1em;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: large;
}

.order_item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.order_item_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    white-space: nowrap;
    width: 100%;
}

.order_item_title {
    white-space: wrap;
}

.subtotal {
    color: green;
}

.date_id {
    color: blue;
}

.order hr {
    margin-bottom: 10px;
}

.order:last-of-type hr {
    display: none;
}

@media screen and (max-width:700px) {
    .main {
        justify-content: start;
    }

    .header {
        align-self: center;
        margin-left: -55px;
    }
}