.greenSnackBar,
.redSnackBar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
    top: 32px;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 999;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    animation: show 5s ease-in-out forwards;
}

.redSnackBar {
    background: red;
}

.hide {
    display: none;
}



@keyframes show {

    0% {
        scale: 0;
    }

    5% {
        scale: 1;
    }

    95% {
        scale: 1;
    }

    100% {
        scale: 0;
    }
}