.snack-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: left;
    top: 2em;
    background: red;
    color: white;
    padding: 10px;
    border-radius: .5em;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 10px;
}



@keyframes show-snackbar {

    0% {
        scale: 0;
    }

    5% {
        scale: 1;
    }

    95% {
        scale: 1;
    }

    100% {
        scale: 0;
    }
}