.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#hide {
    display: none;
}

#previous,
#next,
#placeOrder {
    background: white;
    color: blue;
    margin-bottom: 20px;
}

#previous:hover,
#next:hover,
#placeOrder:hover {
    background: blue;
    color: white;
}

#next {
    margin-left: auto;
}

#placeOrder {
    width: 130px;
    white-space: nowrap;
}