.orderId {
    color: blue;
}

.product {
    display: flex;
    gap: 10px;
}

.image {
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: large;
}

.subtotal {
    color: green;
    font-size: large;
}

.select {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 6px;
    font-size: medium;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

.actionsBttns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

#updateBttn,
#closeBttn,
#disabled {
    width: 95px;
}

#updateBttn,
#closeBttn {
    color: black;
    border: none;
    background-color: rgb(180, 179, 179);
}

#updateBttn {
    background: blue;
    color: whitesmoke;
}

#closeBttn:hover {
    background-color: gray;
}

#updateBttn:hover {
    background: rgb(0, 0, 184);
}

@media screen and (max-width:768px) {
    .dialogOrder {
        width: 90%;
    }
}