.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dialogOrder {
    position: fixed;
    align-self: center;
    border: none;
    border-radius: .5em;
    background: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    max-height: 70vh;
    overflow-y: auto;
    z-index: 1;
}

.orderId {
    color: blue;
}

.product {
    display: flex;
    gap: 10px;
}

.image {
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: large;
}

.subtotal {
    color: green;
    font-size: large;
}

.select {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 6px;
    font-size: medium;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

.actionsBttns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.updateBttn,
.closeBttn {
    border-radius: .5em;
    padding: 10px;
    cursor: pointer;
    border: 1px solid blue;
}

.updateBttn:hover,
.closeBttn:hover {
    background: rgb(204, 199, 199);
}

.updateBttn {
    width: 65px;
    background: blue;
    color: whitesmoke;
}

.updateBttn:hover {
    background: rgb(7, 7, 179);
}

@media screen and (max-width:768px) {
    .dialogOrder {
        width: 90%;
    }
}