.main {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-left: 16px;
}

.header {
    margin: 20px 0;
}

.section hr,
p {
    width: 90%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 10px;
}

.input {
    outline: none;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
}

.input:hover {
    border-color: black;
}

.input:focus {
    border: 2px solid rgba(3, 3, 250, 0.829);
    padding: 7px;
}

.button {
    width: 90px;
    background: white;
    color: blue;
    padding: .5em;
    border-radius: .5em;
    border: 1px solid blue;
    padding: 10px 20px;
}

.button:hover {
    background: blue;
    color: white;
    transition: all 0.2s ease;
}

.short_password {
    color: red;
}

.hide {
    display: none;
}

.delete_account_text {
    color: red;
}

.delete_account_bttn {
    width: 150px;
    background: white;
    color: red;
    border: 1px solid rgb(255, 110, 110);
    padding: .7em 20px;
    border-radius: .5em;
    white-space: nowrap;
    margin-bottom: 30px;
    transition: all 0.2s ease;
}

.delete_account_bttn:hover {
    color: white;
    background: red;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        align-self: center;
        margin-left: -40px;
    }
}