.main {
    display: flex;
    justify-content: center;
}

.divider {
    min-height: calc(100vh - 64px);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-left: 16px;
}

.header {
    margin: 20px 0;
}

.section hr,
p {
    width: 90%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 10px;
}

#changeBttn,
#disabled {
    width: 98px;
}

#changeBttn {
    color: blue;
}

#changeBttn:hover {
    background: blue;
    color: white;
}

.short_password {
    color: red;
}

.hide {
    display: none;
}

.delete_account_text {
    color: red;
}

#deleteBttn {
    width: 150px;
    color: red;
    white-space: nowrap;
}

#deleteBttn:hover {
    color: white;
    background: red;
}

@media screen and (max-width: 768px) {
    .header {
        align-self: center;
        margin-left: -40px;
    }

    .divider {
        display: none;
    }
}