.main {
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    margin-bottom: 32px;
    margin-left: 16px;
}

.divider {
    min-height: calc(100vh - 64px);
}

.header {
    margin: 20px 0;
}

@media screen and (max-width:700px) {
    .manage-orders-body h2 {
        text-align: center;
        margin-right: 45px;
    }

    .divider {
        display: none;
    }
}