.select {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
    font-size: medium;
    height: 40px;
    cursor: pointer;
}

.select:focus {
    border: 2px solid blue;
    padding: 9px;
}