.container {
    width: 80vw;
    display: flex;
    margin: 6em 0 0;
    justify-self: center;
    justify-content: center;
}

.img_container {
    min-width: 40vw;
}

.image {
    width: 300px;
    height: 300px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.price_add {
    display: flex;
    align-items: center;
    gap: 32px;
}

.price {
    color: green;
}

.add {
    width: 90px;
    background: limegreen;
    color: white;
    border: none;
    border-radius: .5em;
    padding: .6em 2em;
    cursor: pointer;
    margin-top: .4em;
    transition: all 0.2s ease;
}

.add:hover {
    background: green;
}

.rating_container {
    display: flex;
}

.rating {
    margin: 2px 0 0 5px;
    color: gray;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 10vw 0;
    }
}