.app-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    background: blue;
    color: whitesmoke;
    min-height: 64px;
}

.name-categories {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 10px;
}

.name-categories h2 {
    cursor: pointer;
    color: white;
}

.categories {
    background: transparent;
    height: 50px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    margin-top: 8px;
}

.options {
    display: none;
}

.dropdown-container:hover .options {
    display: flex;
    position: fixed;
    top: 45px;
    right: 5px;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    background: whitesmoke;
    border-radius: .5em;
    z-index: 1;
}

.dropdown-container button {
    background: transparent;
    border-radius: 50%;
    border: none;
}

.options li {
    cursor: pointer;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    padding: 0 10px;
    white-space: nowrap;
}

.options li:hover {
    background: aqua;
    border-radius: .5em;
}

.cart-options {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 10px;
}

.cart-container {
    display: none;
}

.cart:hover .cart-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    animation: slideCart .5s ease-in-out forwards;
}

.items-count {
    position: absolute;
    top: 10px;
    margin-left: 15px;
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
}

.profile-pic {
    border-radius: 50%;
    cursor: pointer;
}

@keyframes slideCart {
    0% {
        transform: translateX(350px);
    }

    100% {
        transform: translateX(0);
    }
}