footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: whitesmoke;
    padding: 5vw;
    gap: 20px;
    color: rgb(102, 100, 100);
}

.footer-columns {
    display: flex;
    gap: 80px;
    overflow: auto;
}

.footer-columns img {
    width: 50px;
    height: 50px;
    margin-top: -6px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-column strong {
    margin-bottom: 10px;
}

.footer-column article {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-column a {
    text-decoration: none;
    color: rgb(102, 100, 100);
    white-space: nowrap;
}

.footer-column a:hover {
    color: green;
}

@media screen and (max-width:700px) {
    .footer-columns {
        flex-direction: column;
    }
}