.section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#orders {
    background: white;
    color: blue;
    width: 170px;
}

#orders:hover {
    background: blue;
    color: white;
}