.oneRow {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

#priceLabel,
#categoryLabel {
    width: 194.5px;
}

.actionsBttns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

#updateBttn,
#closeBttn,
#disabled {
    width: 100px;
}

#updateBttn,
#closeBttn {
    color: black;
    border: none;
    background-color: rgb(180, 179, 179);
}

#updateBttn {
    background: blue;
    color: whitesmoke;
}

#closeBttn:hover {
    background-color: gray;
}

#updateBttn:hover {
    background: rgb(0, 0, 184);
}

@media screen and (max-width: 770px) {
    .oneRow {
        flex-direction: column;
    }

    #priceLabel,
    #categoryLabel {
        width: 100%;
    }
}