.oneRow {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.textarea {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 11px;
    font-size: medium;
    height: 40px;
}

.textarea {
    font-size: 17px;
    height: 53px;
}

.textarea:hover {
    border-color: black;
}

.textarea:focus {
    border: 2px solid rgba(3, 3, 250, 0.829);
    padding: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actionsBttns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

#updateBttn,
#closeBttn,
#disabled {
    width: 100px;
}

#updateBttn,
#closeBttn {
    color: black;
    border: none;
    background-color: rgb(180, 179, 179);
}

#updateBttn {
    background: blue;
    color: whitesmoke;
}

#closeBttn:hover {
    background-color: gray;
}

#updateBttn:hover {
    background: rgb(0, 0, 184);
}

@media screen and (max-width: 770px) {
    .oneRow {
        flex-direction: column;
    }

    .dialogProduct {
        width: 90%;
    }
}