.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dialogProduct {
    border: none;
    border-radius: .5em;
    background: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    max-height: 70vh;
    overflow-y: auto;
    z-index: 2;
}

.oneRow {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.input,
.textarea {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 11px;
    font-size: medium;
    height: 40px;
}

.textarea {
    font-size: 17px;
    height: 53px;
}

.input:hover,
.textarea:hover {
    border-color: black;
}

.input:focus,
.textarea:focus {
    border: 2px solid rgba(3, 3, 250, 0.829);
    padding: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width: 770px) {
    .oneRow {
        flex-direction: column;
    }

    .dialogProduct {
        width: 90%;
    }
}