.manage-products-main {
    display: flex;
    justify-content: center;
}

.manage-products-body {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 32px;
}

.manage-products-body h3 {
    margin-left: 5%;
}

.add-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    border: 1px solid gray;
    padding: 24px;
    margin-top: 32px;
    border-radius: .5em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.one-row,
.confirm-bttns {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.manage-products-main input,
textarea,
.manage-products-main select {
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    padding: 11px;
    font-size: medium;
    height: 40px;
}

.manage-products-main select {
    width: 338px;
    cursor: pointer;
    padding: 6px;
}

.manage-products-main option:not(:first-of-type) {
    color: black;
}

.manage-products-main textarea {
    font-size: 17px;
    height: 53px;
}

.manage-products-main input:hover,
textarea:hover,
.manage-products-main select:hover {
    border-color: black;
}

.manage-products-main input:focus,
textarea:focus,
.manage-products-main select:focus {
    border: 2px solid rgba(3, 3, 250, 0.829);
    padding: 10px;
}

.manage-products-main select:focus {
    padding: 5px;
}

.new-product,
.manage-categories {
    background: limegreen;
    color: whitesmoke;
    border: none;
    border-radius: .5em;
    padding: 10px 0;
    transition: all 0.2s ease;
}

.new-product:hover,
.manage-categories:hover {
    background: green;
    cursor: pointer;
}

.manage-categories {
    width: 100px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.manage-categories:hover {
    background: rgb(90, 90, 90);
}

.confirm-bttns {
    justify-content: center;
}

.delete-bttn,
.add-bttn,
.cancel-bttn {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    background-color: rgb(170, 170, 170);
    color: black;
    width: 90px;
    transition: all 0.2s ease;
}

.cancel-bttn {
    align-self: flex-end;
}

.delete-bttn {
    color: white;
    background-color: red;
}

.add-bttn {
    color: white;
    background-color: blue;
}

.delete-bttn:hover,
.add-bttn:hover,
.cancel-bttn:hover {
    cursor: pointer;
    background-color: rgb(209, 5, 5);
}

.cancel-bttn:hover {
    background-color: gray;
}

.add-bttn:hover {
    color: white;
    background-color: rgb(0, 0, 167);
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.cat-box {
    background-color: white;
    display: flex;
    border: 1px solid gray;
    border-radius: .5em;
    padding: 10px;
}

.dialog-product {
    border: none;
    border-radius: .5em;
    background: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    max-height: 70vh;
    overflow-y: auto;
    z-index: 2;
}

.dialog-product label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dialog-product P {
    margin-left: 2px;
}

@media screen and (max-width: 770px) {

    .one-row {
        flex-direction: column;
    }

    .manage-products-main select {
        width: 100%;
    }

    .manage-products-body hr {
        width: 93%;
    }

    .manage-products-body h2 {
        margin-left: 0;
    }

    .add-product {
        margin-left: -30px;
    }

    .add-bttn,
    .manage-categories {
        width: 100%;
    }
}